@import "tailwindcss";

.bg-image {
        background-image: url(./assets/testimonial-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}

.carousel-root .carousel {
        display: none;
}

.carousel-root .carousel-slider {
        display: block;
}